/* Estilos generales */
body {
    background-color: #8e0107;
    color: #e4a04d
}

.banner {
    margin: -2em;
    margin-top: 0;
}

calecita{
width: 80%;
}

.navbar,
footer {
    background-color: rgb(0, 0, 0) !important;
}

.tarjeta-index {
    width: 75%;
    justify-content: center;
    text-align: center;
}

main {
    margin: 1em;
}

.navbar-brand,
.nav-link,
footer {
    color: #ba7e36 !important
}

.navbar-brand {
    font-weight: 700;
}

main {
    padding-top: 70px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

section, article{
    text-align: center;
    justify-content: center;
    align-items: center;
}

section img, article img {
    width: 85%
    
}
article p, article ul{
    text-align: justify;

}
section p,
section ul {
    text-align: justify;
}

footer {
    color: #FFFFFF;
    text-align: center;
    background-color: black;
}

footer p {
    font-size: small;
}

/* Página de eventos y recitales */
select option {
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    border: gray;
    border-radius: 15px;
}

.recital .carousel {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    width: 600px;
    max-width: 90%;
    border-radius: 10px;
    overflow: hidden;
}

.recital iframe { /*para el video incrustado*/
	display: block; /*lo convierte en bloque para poder centrarlo*/
    width: 600px;
    max-width: 90%; /*ancho máximo para que no sobresalga de su contenedor cuando se lo ve en una pantalla angosta*/
    aspect-ratio: 16 / 9;
	margin: 0px auto;
    /* box-shadow: 0px 0px 10px #000000; */
	border-radius: 10px;
	border: none; /*para quitar el atributo frameborder de la etiqueta iframe que tiraba error en el validador*/
}

/* Página de discografía */
/* Muestra el menú dropdown en mobile y oculta el menú de pestañas */
.menudiscosuno {
    display: flex;
    justify-content: center;
}

.menudiscosdos {
    display: none;
}

/* Efecto hover sobre las cartas */
.album .card {
    transition: 0.3s;
}

.album .card:hover {
    transform: scale(1.15);
}

/* Estilos dentro del modal */
.col-md-5 img {
    margin-bottom: 20px;
}

.modal-footer {
    justify-content: center;
}



iframe {
    width: 90%;
}

.btn-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 4px 0px;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
}

.spotify {
    background-color: #1DB954;
}

.applemusic {
    background-color: #FF0436;
}

.youtubemusic {
    background-color: #FF0000;
}

.gris {
    color: rgb(0, 0, 0);
    font-size: small;
}

/* Media query para dispositivos desktop */
@media (min-width : 480px) {

    /* Estilos generales */
    footer p {
        font-size: medium;
    }

    /* Página de discografía */
    .menudiscosuno {
        display: none;
    }

    .menudiscosdos {
        display: flex;
        justify-content: center;
    }

    iframe {
        width: 45%;
    }

    section img {
        width: 45%
    }
}