/* Estilos generales */
body {
    background-color: #8e0107;
    color: #e4a04d;
    display: flex;
	justify-content: center;
    margin: 0;
    padding: 0;
}
#contenido { /*elemento de bloque que define el ancho máximo*/
	width: 100%; /*normalmente se muestra en toda la pantalla*/
	max-width: 960px; /*pero si el navegador es mayor a 960px (como en las computadoras) no crece más de 960px*/
    background-color: #400000;
}

.banner {
    margin: -2em;
    margin-top: 0;
}


/* Estilos del formulario */
.formulario {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #400000;
    /* Fondo del formulario */
    border-radius: 8px;
}

.campo {
    margin-bottom: 15px;
}

/* Estilos de etiquetas y entradas */
.etiqueta {
    font-weight: bold;
    color: #ba7e36 ;
    display: block;
    margin-bottom: 5px;
}

.entrada,
.entrada-texto {
    width: 100%;
    padding: 10px;
    border: 1px solid #ba7e36;
    /* Borde dorado */
    border-radius: 5px;
    background-color: #FFF5E1;
    /* Fondo claro para campos de texto */
    color: #400000;
}

.entrada-texto {
    resize: none;
}

/* Estilos del botón de enviar */
.boton-enviar {
    width: 100%;
    padding: 10px;
    background-color: #ba7e36;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.boton-enviar:hover {
    background-color: #ba7e36;
    color: #ffffff;
}

.navbar, footer {
    background-color: rgb(0, 0, 0) !important;
}

.tarjeta-index {
    width: 75%;
    justify-content: center;
    text-align: center;
}

main {
    margin: 1em;
}

.navbar-brand,
.nav-link,
footer {
    color: #ba7e36 !important
}

.navbar-brand {
    font-weight: 700;
}

main {
    padding-top: 70px;
}

section {
    text-align: center;
}

section img {
    width: 85%
}

section p,
section ul {
    text-align: justify;
}

footer {
    color: #FFFFFF;
    text-align: center;
}

footer p {
    font-size: small;
}

.btn-dark {
    background-color: #000000;
}

.btn-dark:hover {
    background-color: #e4a04d;
    color: #8e0107;
}

/* Página de eventos y recitales */
select option {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    border: #000000;
    border-radius: 15px;
}

.card {
    background-color: #e4a04d;
}

.card h5, .card h6 {
    text-align: left;
}

.card .btn-dark:hover {
    background-color: #8e0107;
}

.recital .carousel {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    width: 600px;
    max-width: 90%;
    border-radius: 10px;
    overflow: hidden;
}

.recital iframe { /*para el video incrustado*/
	display: block; /*lo convierte en bloque para poder centrarlo*/
    width: 600px;
    max-width: 90%; /*ancho máximo para que no sobresalga de su contenedor cuando se lo ve en una pantalla angosta*/
    aspect-ratio: 16 / 9;
	margin: 0px auto;
    /* box-shadow: 0px 0px 10px #000000; */
	border-radius: 10px;
	border: none; /*para quitar el atributo frameborder de la etiqueta iframe que tiraba error en el validador*/
}

/* Página de discografía */
/* Muestra el menú dropdown en mobile y oculta el menú de pestañas */
.menudiscosuno {
    display: flex;
    justify-content: center;
}

.menudiscosdos {
    display: none;
}

/* Estilos para los distintos menúes */
.dropdown-menu {
    background-color: #000000;
}

.dropdown-item {
    color: #FFFFFF;
}

.nav-underline .nav-item {
    font-size: large;
    font-weight: 500;
    padding: 0 2px;
}

.nav-underline .nav-item .active {
    font-weight: 800;
}

/* Efecto hover sobre las cartas */
.album .card {
    transition: 0.3s;
}

.album .card:hover {
    transform: scale(1.15);
}

/* Estilos dentro del modal */
.modal-content {
    background-color: #000000;
}

.modal-header .btn-close{
    background-color: #FFFFFF;
}

.modal-header, .modal-footer {
    border-color: #333333;
}

.modal-body {
    color: #FFFFFF;
}

.modal-body ol li {
    text-align: left;
}

.col-md-5 img {
    width: 100%;
    margin-bottom: 20px;
}

.modal-footer {
    justify-content: center;
}



iframe {
    width: 90%;
}

.btn-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 4px 0px;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
}

.spotify {
    background-color: #1DB954;
}

.applemusic {
    background-color: #FF0436;
}

.youtubemusic {
    background-color: #FF0000;
}

.gris {
    color: gray;
    font-size: small;
}

/* Media query para dispositivos desktop */
@media (min-width : 480px) {

    /* Estilos generales */
    footer p {
        font-size: medium;
    }

    /* Página de discografía */
    .menudiscosuno {
        display: none;
    }

    .menudiscosdos {
        display: flex;
        justify-content: center;
    }

    iframe {
        width: 45%;
    }

    section img{
        width: 45%
    }
    article img{
        width :30%
    }
}