/* Estilos generales */
body {
    background-color: #8e0107;
    color: #e4a04d
}

.navbar,
footer {
    background-color: rgb(0, 0, 0) !important;

}

header, main{
    margin: 2em;
}
.navbar-brand,
.nav-link,
footer {
    color: #ba7e36 !important
}

.navbar-brand {
    font-weight: 700;
}

main {
    padding-top: 70px;
}

section{
    text-align: center;
}
section img{
    width: 85%
}
section p,section ul{
    text-align: justify;
}

footer {
    color: #FFFFFF;
    text-align: center;
    background-color: black;
}

footer p {
    font-size: small;
}

/* Página de discografía */
/* Muestra el menú dropdown en mobile y oculta el menú de pestañas */
.menudiscosuno {
    display: flex;
    justify-content: center;
}

.menudiscosdos {
    display: none;
}

/* Efecto hover sobre las cartas */
.card {
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.15);
}

/* Estilos dentro del modal */
.col-md-5 img {
    margin-bottom: 20px;
}

.modal-footer {
    justify-content: center;
}



iframe {
    width: 90%;
}

.btn-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 4px 0px;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
}

.spotify {
    background-color: #1DB954;
}

.applemusic {
    background-color: #FF0436;
}

.youtubemusic {
    background-color: #FF0000;
}

.gris {
    color: rgb(0, 0, 0);
    font-size: small;
}

/* Media query para dispositivos desktop */
@media (min-width : 480px) {

    /* Estilos generales */
    footer p {
        font-size: medium;
    }

    /* Página de discografía */
    .menudiscosuno {
        display: none;
    }

    .menudiscosdos {
        display: flex;
        justify-content: center;
    }

    iframe {
        width: 45%;
    }

    section img {
        width: 45%
    }
}